.circle {
	stroke: black;
	fill: white;
}

.dragCircle {
	fill: black;
}

.dragCircle:hover {
	fill: red;
}

.dragPath {
	stroke: black;
}

.dragGroup:has(.dragCircle:hover) {
	fill: red;
}

.dragGroup:has(.dragCircle:hover) > .dragPath {
	stroke: red;
}

.active {
	fill: red;
}

.active .dragPath {
	stroke: red;
}